<div class="content-modal d-flex flex-column gap-2" *ngIf="disciplinaSelcionada">
  <div class="d-flex justify-content-between align-items-center">
    <h3>{{ disciplinaSelcionada.nome }}</h3>
    <img src="../../content/images/x.svg" alt="icon" (click)="close()">
  </div>
  <h2>{{ disciplinaSelcionada.resumo }}</h2>
  <div *ngIf="disciplinaSelcionada.termos">
    <p class="mb-3"> Disciplina do {{ disciplinaSelcionada.termos.nome  | lowercase}}</p>
    <p> Termo cadastrada em {{ disciplinaSelcionada.createdDate | formatMediumDatetime }}</p>
  </div>
</div>
