<div class="content-home" >
  <div class="d-flex flex-wrap justify-content-between mb-4">
    <div class="d-flex flex-column gap-2">
      <h2 class="titulo">Termos</h2>
      <h3 class="subtitulo">Qual termo gostaria de acessar hoje?</h3>
    </div>
    <button class="adicionar d-flex align-items-center justify-content-between mb-5 gap-4" [routerLink]="['/termos/new']">
      <img src="../../../../content/images/move.svg" alt="icone">
      <span>Adicionar Termo</span>
    </button>
  </div>
  <div class="group-cards d-flex flex-wrap justify-content-between gap-4 mb-4">
    <div class="card d-flex align-items-center justify-content-center" *ngFor="let termos of termos; trackBy: trackId">
        <div ngbDropdown class="more">
          <img class="cursor" src="../../../../content/images/more-vertical.svg" alt="icon" ngbDropdownToggle>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button 
              ngbDropdownItem  
              class="d-flex align-items-center gap-3" 
              [routerLink]="['/termos', termos?.id, 'edit']"
              >
              <img class="icon-card" src="../../../../content/images/edit.svg" alt="icon">
              Editar
            </button>
            <button 
              ngbDropdownItem 
              class="d-flex align-items-center gap-3"
              type="submit" 
              (click)="delete(termos)"
              >
              <img class="icon-card" src="../../../../content/images/trash.svg" alt="icon">
              Excluir
            </button>
          </div>
        </div>
      <h2 class="text-card" *ngIf="termos.nome === 'PRIMEIRO'">1° Termo</h2>
      <h2 class="text-card" *ngIf="termos.nome === 'SEGUNDO'">2° Termo</h2>
      <h2 class="text-card" *ngIf="termos.nome === 'TERCEIRO'">3° Termo</h2>
      <h2 class="text-card" *ngIf="termos.nome === 'QUARTO'">4° Termo</h2>
      <h2 class="text-card" *ngIf="termos.nome === 'QUINTO'">5° Termo</h2>
      <h2 class="text-card" *ngIf="termos.nome === 'SEXTO'">6° Termo</h2>
      
      <div class="card-buttons">
        <button class="btn btn-disciplinas" [routerLink]="['/disciplinas']">Disciplinas</button>
        <button class="btn btn-projetos"  [routerLink]="['/projetos']">Projetos</button>
      </div>
    </div>
  </div> 
</div>
