<div class="content-login d-flex align-items-center">
  <img class="img-left" src="../../../assets/background2.svg" alt="icone">
  <div class="rigth">
    <form class="d-flex align-items-center flex-column gap-4">
      <img class="logo" src="../../../assets/Login.svg" alt="logo">
      <h2>Guia do Mochileiro<br> Fatecano</h2>
      <div class="form-group d-flex flex-column gap-2">
        <label for="email">E-mail</label>
        <input type="email">
      </div>
      <div class="form-groups d-flex flex-column gap-2">
        <label for="password">Senha</label>
        <img class="image" [src]="MostrarSenha ?  '../../../assets/unlock.svg' : '../../../assets/Lock.svg' " (click)="visibilidadeSenha()"  alt="">
        <input class="pass" [type]="MostrarSenha ? 'text' : 'password'">
      </div>
      <button routerLink="/home">Entrar</button>
      <div class="d-flex gap-2">
        <span class="gray">Ainda não possui conta?</span>
        <span class="green">Cadastre-se</span>
      </div>
    </form>
  </div>
</div>
