.subtitulo {
  color: #909395;
  b {
      color: #000000;
      font-weight: 600;
  }
}

button {
  border: none;
  max-width: 116px;
  width: 100%;
  height: 44px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}

.excluir {
  background-color: #E12E1C;
  color: #fff;

  &:hover {
      background-color: #C82333;
      transition: .3s;
  }
}

.voltar {
  background-color: #fff;
  border: 1px solid #909395;
  color: #909395;

  &:hover {
      background-color: #F5F5F5;
      transition: .3s;
  }
}

@media screen and (max-width: 320px) {
  button, .subtitulo {
      font-size: 12px;
  }
}
