<div class="content-modal d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-between align-items-center mb-5">
      <h2 class="titulo">Deseja excluir a turma?</h2>
      <img class="icon" src="../../../assets/x.svg" alt="icon" (click)="closeModal()">
  </div>
  <span class="subtitulo">Tem certeza de que deseja excluir a turma <b>1° Termo</b></span>
  <div class="d-flex justify-content-end  mt-5 gap-4">
      <button class="voltar" (click)="closeModal()">Cancelar</button>
      <button class="excluir" (click)="rejeitarSolicitacao()">Excluir</button>
  </div>
</div>
