<div>
  <h2 id="page-heading" data-cy="ResumosHeading">
    <span appTranslate="gmfApp.resumos.home.title">Resumos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="gmfApp.resumos.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resumos"
        [routerLink]="['/resumos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="gmfApp.resumos.home.createLabel"> Criar novo Resumos </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resumos?.length === 0">
    <span appTranslate="gmfApp.resumos.home.notFound">Nenhum Resumos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="resumos && resumos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="assunto">
            <div class="d-flex">
              <span appTranslate="gmfApp.resumos.assunto">Assunto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="resumo">
            <div class="d-flex">
              <span appTranslate="gmfApp.resumos.resumo">Resumo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="createdDate">
            <div class="d-flex">
              <span appTranslate="gmfApp.resumos.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="disciplinas.id">
            <div class="d-flex">
              <span appTranslate="gmfApp.resumos.disciplinas">Disciplinas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resumos of resumos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resumos', resumos.id, 'view']">{{ resumos.id }}</a>
          </td>
          <td>{{ resumos.assunto }}</td>
          <td>{{ resumos.resumo }}</td>
          <td>{{ resumos.createdDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="resumos.disciplinas">
              <a [routerLink]="['/disciplinas', resumos.disciplinas.id, 'view']">{{ resumos.disciplinas.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resumos', resumos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resumos', resumos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(resumos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="resumos && resumos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
