<div class="content-login d-flex align-items-center">
  <img class="img-left" src="../../../assets/background.svg" alt="icone">
  <div class="rigth">
    <form class="d-flex align-items-center flex-column gap-3">
      <h2>Cadastre-se</h2>
      <div class="form-group d-flex flex-column gap-2">
        <label for="nome">Nome</label>
        <input type="text">
      </div>
      <div class="form-group d-flex flex-column gap-2">
        <label for="email">E-mail</label>
        <input type="email">
      </div>
      <div class="form-groups d-flex flex-column gap-2">
        <label for="password">Senha</label>
        <img class="image" [src]="mostrarSenha ?  '../../../assets/unlock.svg' : '../../../assets/Lock.svg' " (click)="visibilidadeSenha()"  alt="">
        <input class="pass" [type]="mostrarSenha ? 'text' : 'password'">
      </div>
      <div class="form-groups d-flex flex-column gap-2">
        <label for="password">Confirmar senha</label>
        <img class="image" [src]="mostrarConfirmSenha ?  '../../../assets/unlock.svg' : '../../../assets/Lock.svg' " (click)="visibilidadeConfirmSenha()"  alt="">
        <input class="pass" [type]="mostrarConfirmSenha ? 'text' : 'password'">
      </div>
      <button routerLink="/">Cadastrar</button>
      <div class="d-flex gap-2">
        <span class="gray">Você já possui conta?</span>
        <span routerLink="/" class="green">Entrar</span>
      </div>
    </form>
  </div>
</div>
