<div class="content-termos">
  <div class="d-flex flex-wrap align-items-center justify-content-end gap-4 mb-5">
    <div class="d-flex gap-2">
      <h2 class="titulo">Olá,</h2>
      <h4 class="titulos">João Pedro</h4>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="adicionar d-flex align-items-center justify-content-between mb-5 gap-4" [routerLink]="['/post/new']">
      <img src="../../../../content/images/move.svg" alt="icone">
      <span>Adicionar Disciplina</span>
    </button>
  </div>
  <div class="group-cards d-flex flex-wrap justify-content-between gap-4 mb-4">
    @for (post of posts; track trackId) {

    <div class="card d-flex align-items-center justify-content-center">
      <div ngbDropdown class="more">
        <img class="cursor" src=".../../../../content/images/more-vertical.svg" alt="icon" ngbDropdownToggle>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button 
            ngbDropdownItem 
            class="d-flex align-items-center gap-3"
            [routerLink]="['/post', post.id, 'edit']"
            >
            <img class="icon-card" src=".../../../../content/images/edit.svg" alt="icon">
            Editar
          </button>
          <button  
            ngbDropdownItem 
            class="d-flex align-items-center gap-3"
            (click)="delete(post)" 
            >
            <img class="icon-card" src="../../../../content/images/trash.svg" alt="icon">
            Excluir
          </button>
        </div>
      </div>
        <h2 class="text-card" (click)="openDetail(post)">{{post.title}}</h2>
    </div>
    }
  </div>
</div>

