.content-termos {
    padding: 40px 80px;
  }
  
  .card {
    width: 308px;
    height: 128px;
    cursor: pointer;
  
    .text-card {
        color: var(--color-gray-600);
        font-weight: 500;
        font-size: 16px;
    }
  }

  a {
    text-decoration: none;
  }
  
  .adicionar {
    border: none;
    background-color: var(--color-secondary);
    border-radius: 5px;
    height: 52px;
    padding: 24px;
  
    &:hover {
      background-color: var(--color-secondary-hover);
      transition: 0.3s;
    }
  
    span {
      color: var(--color-white);
    }
  }

.more {
  position: absolute;
  right: 10px;
  top: 16px;
}

.dropdown-item {
  color: var(--color-gray-300);

  &:hover {
    background-color: #21bc6bad;
  }
}

.dropdown-menu {
  padding: 0;
}
  
  
  @media screen and (max-width: 575px) {
    .content-termos {
      padding: 32px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .group-cards{
      gap: 20px;
  
      .card {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  