<div class="content-modal d-flex flex-column gap-5" *ngIf="resumoSelecionado">
  <div class="d-flex justify-content-between align-items-center">
    <h3>{{ resumoSelecionado.assunto }}</h3>
    <img src="../../content/images/x.svg" alt="icon" (click)="close()">
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <h4>Copiar resumo</h4>
    <div class="cards" (click)="copyContent()">
      <img src="../../content/images/copy.svg" alt="icon">
    </div>
  </div>
    <p *ngIf="confirmationMessage" class="alert alert-secondary">{{confirmationMessage}}</p>
  <h2>{{ resumoSelecionado.resumo }}</h2>
</div>
