<div class="content-modal d-flex flex-column gap-5">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Manejos agrícolas de tratos<br>
    culturais e colheita</h3>
    <img src="../../../assets/x.svg" alt="icon" (click)="close()">
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn d-flex align-items-center gap-2">
      <img src="../../../assets/move.svg" alt="button">
      Adicionar
    </button>
  </div>
  <div class="cards d-flex justify-content-between align-items-center">
    <img src="../../../assets/Relatorio.svg" alt="icon">
    <h3>Abordagem geral da matéria</h3>
  </div>
  <div class="cards d-flex justify-content-between align-items-center">
    <img src="../../../assets/Relatorio.svg" alt="icon">
    <h3>Satélites</h3>
  </div>
  <div class="cards d-flex justify-content-between align-items-center">
    <img src="../../../assets/Relatorio.svg" alt="icon">
    <h3>Pulverizadores</h3>
  </div>
  <div class="cards d-flex justify-content-between align-items-center">
    <img src="../../../assets/Relatorio.svg" alt="icon">
    <h3>Colhedoras</h3>
  </div>
</div>
