.content-modal {
    padding: 24px;
    overflow-y: scroll;
    height: 90vh;
    max-height: 100%;
}

.btn {
    padding: 12px;
    background-color: var(--color-secondary);
    color: var(--color-white);
  
    &:hover {
      background-color: var(--color-tertiary);
      transition: 0.3s;
    }
  }
  
  .cards {
    cursor: pointer;
    background-color: var(--color-secondary);
    border-radius: 8px;
    padding: 14px;
    width: 54px;
  
    h3 {
      color: var(--color-white);
      font-size: 16px;
      font-weight: 600;
    }
  }

  h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  
  h4 {
    font-size: 15px;
    font-weight: 500;
  }
  