<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-bar">
  <div class="container-fluid">
      <img  class="logo" src="../../../content/images/logo.svg" alt="logo" style="cursor: pointer;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <img src="../../../content/images/menu.svg" alt="icon">
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto">
          @if (account() !== null) {
            <li
              ngbDropdown
              class="nav-item dropdown pointer"
              display="dynamic"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
                <span>
                  <fa-icon icon="th-list"></fa-icon>
                  <span jhiTranslate="global.menu.entities.main">Entities</span>
                </span>
              </a>
              <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="/blog"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseNavbar()"
                  >
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.blog">Blog</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="/post"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseNavbar()"
                  >
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.post">Post</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="/tag"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseNavbar()"
                  >
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.tag">Tag</span>
                  </a>
                </li>
                <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
              </ul>
            </li>
          }
        </ul>
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="d-flex align-items-center nav-item" routerLink="/home">
            <img class="icon" src="../../../content/images/home.svg" alt="icon">
            <a class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="d-flex align-items-center nav-item" routerLink="/valores">
            <img class="icon" src="../../../content/images/star.svg" alt="icon">
            <a class="nav-link active" aria-current="page">Valores</a>
          </li>
          <li class="d-flex align-items-center nav-item" (click)="logout()" id="logout" data-cy="logout">
            <img class="icon" src="../../../content/images/log-in.svg" alt="icon">
            <a class="nav-link active" aria-current="page">Sair</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
