#nav-bar {
  background-color: var(--color-secondary)!important;
  padding: 12px 68px;
}

#navbarScroll {
  justify-content: flex-end!important;
}

.navbar-nav {
  display: flex;
  gap:20px;
  margin: 0!important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--color-white);
}

.icon {
  width: 20px
}

.nav-item, .logo {
  cursor: pointer;
}

.navbar-toggler {
  border: 1px solid var(--color-white);
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    gap:4px;
    margin-top:12px!important;
  }

  .nav-item {
    gap:8px
  }
}

@media screen and (max-width: 575px) {
  #nav-bar {
    padding: 12px 20px;
  }
}
