<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-termos-heading" data-cy="TermosCreateUpdateHeading" appTranslate="gmfApp.termos.home.createOrEditLabel">
        Criar ou editar Termos
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="gmfApp.termos.nome" for="field_nome">Nome</label>
          <select class="form-control" name="nome" formControlName="nome" id="field_nome" data-cy="nome">
            <option [ngValue]="null">{{ 'gmfApp.NumeroTermo.null' | translate }}</option>
            <option *ngFor="let numeroTermo of numeroTermoValues" [value]="numeroTermo">
              {{ 'gmfApp.NumeroTermo.' + numeroTermo | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="gmfApp.termos.semestre" for="field_semestre">Semestre</label>
          <select class="form-control" name="semestre" formControlName="semestre" id="field_semestre" data-cy="semestre">
            <option [ngValue]="null">{{ 'gmfApp.NumeroSemestre.null' | translate }}</option>
            <option *ngFor="let numeroSemestre of numeroSemestreValues" [value]="numeroSemestre">
              {{ 'gmfApp.NumeroSemestre.' + numeroSemestre | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('semestre')!.invalid && (editForm.get('semestre')!.dirty || editForm.get('semestre')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('semestre')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="gmfApp.termos.ano" for="field_ano">Ano</label>
          <input type="text" class="form-control" name="ano" id="field_ano" data-cy="ano" formControlName="ano" />
          <div *ngIf="editForm.get('ano')!.invalid && (editForm.get('ano')!.dirty || editForm.get('ano')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ano')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
