<div class="content-login d-flex align-items-center">
  <img class="img-left" src="../../../content/images/background.svg" alt="icone">
  <div class="rigth">
    <form class="d-flex align-items-center flex-column gap-3" name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm">
      <h2>Cadastre-se</h2>
      <div class="form-group d-flex flex-column gap-2">
        <label for="login" >Nome</label>
        <input   
          type="text"
          class="form-control"
          id="login"
          name="login"
          placeholder="Insira seu primeiro nome"
          formControlName="login"
          data-cy="username"
          #login>
      </div>
      <div class="form-group d-flex flex-column gap-2">
        <label for="email">E-mail</label>
        <input 
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Insira seu e-mail"
          formControlName="email"
          data-cy="email"
          >
      </div>
      <div class="form-groups d-flex flex-column gap-2">
        <label for="password">Senha</label>
        <img class="image" [src]="mostrarSenha ?  '../../../content/images/unlock.svg' : '../../../content/images/Lock.svg' " (click)="visibilidadeSenha()"  alt="">
        <input 
          class="pass" 
          [type]="mostrarSenha ? 'text' : 'password'"
          id="password"
          name="password"
          placeholder="Insira sua senha"
          formControlName="password"
          data-cy="firstPassword"
          >         
      </div>
      <div class="form-groups d-flex flex-column gap-2">
        <label for="confirmPassword">Confirmar senha</label>
        <img 
          class="image" 
          [src]="mostrarConfirmSenha ?  
          '../../../content/images/unlock.svg' : '../../../content/images/Lock.svg' " 
          (click)="visibilidadeConfirmSenha()"  
          alt="icone"
          >
        <input 
          class="pass" 
          [type]="mostrarConfirmSenha ? 'text' : 'password'"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Insira novamente sua senha"
          formControlName="confirmPassword"
          data-cy="secondPassword"
          >
      </div>
      <button
        class="submit"
        type="submit"
        [disabled]="registerForm.invalid" 
        routerLink="/"
        >
        Cadastrar
      </button> 
      <div class="d-flex gap-2">
        <span class="gray">Você já possui conta?</span>
        <span routerLink="/" class="green">Entrar</span>
      </div>
    </form>
  </div>
</div>

