<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-bar">
  <div class="container-fluid">
    <a><img class="logo" src="assets/logo.svg"></a>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="d-flex align-items-center nav-item">
          <img class="icon" src="assets/home.svg" alt="icon">
          <a class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="d-flex align-items-center nav-item mx-3">
          <img class="icon" src="assets/star.svg" alt="icon">
          <a class="nav-link active" aria-current="page">Valores</a>
        </li>
        <li class="d-flex align-items-center nav-item">
          <img class="icon" src="assets/log-in.svg" alt="icon">
          <a class="nav-link active" aria-current="page">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
